		.tinyTabs {
		    list-style: none;
		    /* margin: 200px 0 20px; */
		    padding: 0;
		    line-height: 24px;
		    height: 20px;
			overflow: hidden;	
		    font-size: 12px;
		    font-family: verdana;
		    position: relative; 
		}

		.tinyTabs li {
		    border: 1px solid #AAA;
		    background: #D1D1D1;
		    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
		    display: inline-block;
		   	position: relative;		
		    z-index: 0;
		    border-top-left-radius: 6px;
		    border-top-right-radius: 6px;
		    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;  */
		    text-shadow: 0 1px #FFF;
		    margin: 0px;
		    padding: 0 10px;
		}
		.tinyTabs a {
			  color: #555;
			  text-decoration: none;
		}
		.tinyTabs li.selected {
		    background: #FFF;
		    color: #333;
		    z-index: 2;
		    border-bottom-color: #FFF;
		}
		.tinyTabs:before {
		    position: absolute;
		    content: " ";
		    width: 100%;
		    bottom: 0;
		    left: 0;
		    border-bottom: 1px solid #AAA;
		    z-index: 1;
		}
		.tinyTabs li:before,
		.tinyTabs li:after {
		    border: 1px solid #AAA;
		    position: absolute;
		    bottom: -1px;
		    width: 5px;
		    height: 5px;
		    content: " ";
		}
		.tinyTabs li:before {
		    left: -6px;
		    border-bottom-right-radius: 6px;
		    border-width: 0 1px 1px 0;
		    box-shadow: 2px 2px 0 #D1D1D1;
		}
		.tinyTabs li:after {
		    right: -6px;
		    border-bottom-left-radius: 6px;
		    border-width: 0 0 1px 1px;
		    box-shadow: -2px 2px 0 #D1D1D1;
		}
		.tinyTabs li.selected:before {
		    box-shadow: 2px 2px 0 #FFF;
		}
		.tinyTabs li.selected:after {
		    box-shadow: -2px 2px 0 #FFF;
		}


/* exli overrides */

		.EXLTabsRibbon div li {
			line-height: inherit;
			display: auto;
		}

		.EXLTabsRibbon {
			border-bottom: 0;
		}

		.EXLTabContent {
			border: 1px #ccc solid;
		}