/* Language drop-down removal allignement fix */
#exlidMainMenuTile div.EXLMainMenuContainer {
    float: right;
}
/* Locations tab must be disabled for Primo-Alma integrations */
.EXLTabsRibbon div li.EXLLocationsTab {
    display: none;
}
/* Headers in Black */
#exlidHomeContainer h1,
#exlidHomeContainer h2,
#exlidHomeContainer h3,
#exlidHomeContainer h4 {
    font-size: 100%;
    color: #2C2C2C;
}
/* Links customization */
a:link,
a:visited {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline
}
/*.EXLTabsRibbon div li.EXLMoreTab {
    display: none;
}*/


#exlidHomeContainer {
    clear: both;
}

#exlidMyDatabasesTab {
    display: none;
}
#exlidSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    border: 1px solid #8FB9D0;
    display: block;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 90%;
}

#exlidSearchRibbon input.EXLSearchFieldMaximized {
    width: 102%;
}

#exlidSearchRibbon input.submit {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    padding-left: 5px;
    width: 46px !important;
    height: 42px !important;
    background: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0;
    border: 0px !important;
    background: url(//library.wwu.edu/images/onesearch-magnifying-glass.png) no-repeat !important;
    border-right: 0;
    border-bottom: 1px solid #CCC !important;
    box-shadow: -1px 3px 3px #CCC;
    border-bottom-right-radius: 8px;
    border-radius: 0;
}



#advsearch_btn_simple {
    background: url(//library.wwu.edu/images/adv-search-button.png) no-repeat !important; 
    border-bottom-right-radius: 8px;
    border-left: 0;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    width: 48px !important;
    height: 41px !important;
    position: relative;
    top: -41px;
    left: 35px;
    border-bottom: 1px solid #CCC !important;
    box-shadow: 3px 3px 3px #CCC;
    border-bottom-right-radius: 8px;
}

#exlidSearchRibbon input.submit:hover { 
    box-shadow: 0px 0px 0px #CCC;
}

#advsearch_btn_simple:hover {
    box-shadow: 0px 0px 0px #CCC;
}

.EXLSearchFieldRibbonFormSubmitSearch submit:focus { 
    border: 1px dotted #999;
}

#advsearch_btn_simple:focus {
    border: 1px dotted #999;
}

.EXLFacetTile {
    background: none repeat scroll 0 0 #F5F5F5;
    border-right: 1px solid #DDDDDD;
    float: left;
    padding: 1%;
    width: 20%;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    -webkit-font-smoothing: antialiased;
}

.EXLSearchFieldRibbonBrowseSearchLink a:link,
.EXLSearchFieldRibbonBrowseSearchLink a:visited {
    color: #ffffff;
    text-decoration: none;
}
.EXLSearchFieldRibbonAdvancedSearchLink a:link,
.EEXLSearchFieldRibbonAdvancedSearchLink a:visited {
    color: #ffffff;
    text-decoration: none;
}
#exlidSearchRibbon div.EXLSearchFieldRibbon {
    border: 0px solid #8FB9D0 !important
}
#contentEXL {
    border-right: 1px solid #CFCFCF !important;
    border-left: 1px solid #CFCFCF !important;
    border-bottom: 1px solid #CFCFCF !important;
    -webkit-box-shadow: 0 8px 6px -6px #CFCFCF;
    -moz-box-shadow: 0 8px 6px -6px #CFCFCF;
    box-shadow: 0 8px 6px -6px #CFCFCF;
}
.EXLSearch {
    border-right: 0px solid #CFCFCF !important;
    border-left: 0px solid #1C75BC !important;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    padding: 1em 0 0.5em 0 !important
    margin-top: 25px;
    background-color: #FFF;
    border-radius: 0px 8px 8px 0px;
    border-color: -moz-use-text-color #CCC #CCC;
    border-top: 0px none;
}

#exlidAdvancedSearchRibbon input.submit {
    width: 6.9em !important
}

#exlidAdvancedSearchTile {
    background-color: #1C75BC;
    background-image: none !important;
    background-repeat: repeat-x;
    border-bottom: 1px solid #ADB9C2;
    border-top: 1px solid #ADB9C2;
    clear: left;
    font-size: 80%;
    height: auto;
    padding: 1em 0;
    min-width: 950px;
    width: 100%;

    background: none;
    background-image: none;

}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    margin-top: 10px;
}


/*
#exlidResultsTable tr td {
    padding-bottom: 25px;
}
*/

.EXLResultsList td.EXLSummary {
    padding-left: 15px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    background: none repeat scroll 0 0 #ffffff;
    display: inline;
    float: left;
    line-height: 24px;
    text-indent: 1em;
    width: 115px;
}

div#exlidSearchBanner a:link {
    font-size: 6px;
}

.EXLResultAvailability {
    padding: 10px 0px 10px 20px;
    width: 99%;
}
.EXLResultsList td.EXLThumbnail img {
    width: 50px;
    max-height: 100px;
    min-height: 74px;
}

.multipleCoverImageContainer {
    width: 50px;
    max-height: 100px;
    min-height: 74px;
}

.EXLResultsList td.EXLMyShelfStar {
    padding-bottom: 0.5em;
    padding-left: 8px;
    padding-top: 0.6em;
    text-align: left;
    width: 1.5em;
}

.EXLResultsContainer div.EXLResultsTile {
    background-color: #FFFFFF;
    border-left: 1px solid #D7DDE3;
    float: right;
    margin-bottom: 2em;
    margin-top: 0;
    padding-left: 1%;
    width: 76%;
}


/* 26sep2013 - David Bass - hide the "Suggested New Searches" section */
#exlidSuggestedList {
    display: none;
}

.EXLReviewsTab.EXLResultTab {
    display:none !important;
}

#resultsListNoIdXX {
    background-image: url('//library.wwu.edu/images/icon_9006.svg');
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


#permalinkPrettyX {
    padding: 5px;
    padding-left: 10px;
    margin-left: 2px;
    background: #f1f7ce;    /* light green */
    z-index: 999;
    font-size: 75%;
}

#permalinkPretty {
    background: transparent;
    border: 0;
    padding: 5px;
    margin-left: 2px;
    z-index: 999;
    font-size: 75%;
}


.permalink-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 150px;
}

.permalink-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.permalink-button:active {
    position:relative;
    top:1px;
}

#permalinkPretty.ready {
    background: #f1f7ce;    /* light green */
    cursor: default;
    width: 300px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.perma-link {
    display: inline-block;
    color: #222;
    text-shadow: none;
}

/*
#permalinkPretty {
    font-size: 0.75em;
    color: #222;
    padding: 5px;
    padding-left: 12px;
    background: white;
    margin-top: -23px;
    border: 0px;
}
*/

.permalinkPretty-displayPage {
    margin-bottom: 10px;
    font-size: 1em%;
}

#permalinkPretty span.icon {
    font-size: 25px;
}



/*Lesley L. - 7/23/14: Hide "More" link (leaves Sign in link visible).*/
.EXLTabHeaderContentAdditionalDataLine.EXLTabHeaderContentAdditionalDataLineMore a {
    display:none;
}   

 /* Thanks to Jennifer Ward (UW)!!  tweak sign-in link on request tab, Lesley L. 2014.07.23 */ 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLine {
    font-weight: normal
} 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineInstName {
    display: none
} 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn {
    float: left; 
    font-weight: bold
}

/*Lesley L. - 2014.7.24: Hide "Location" column in Active Loans List of My Account area.*/
.MyAccount_Loans_7 {
    display: none
}
.EXLMyAccountTableSub.Location {
    display: none
}

/*Lesley L. - 8/7/14 Hide Times Cited and Similar Articles Tabs*/
.EXLCitationsTab.EXLResultTab.EXLServiceConditionalTab  {
    display: none !important;
}
.EXLRecommendTab.EXLResultTab {
    display: none;
}





/* David Bass - tabbed interface changes - Sept 2014 */

* {
    font-family: 'verdana', 'Open Sans', Oxygen, sans-serif !important;
    font-size: 1.0em;
}

body {
    max-width: 100%;
}

#exlidMainMenuTile {
    float: none;
    width: auto;
}

#exlidSearchRibbon {
    /* min-width: inherit; */
    margin-left: 105%;
    position: relative !important; /* this keeps the search box from invading the facet column if too narrow */
    clear: both;
    margin-top: -40px;  /* accessibleMenu2 */
    min-width: 737px;
}

.EXLResultNumberX {
    display: block;
    font-size: 4em !important;
    font-weight: bold;
    color: #eee;
    border: 0 !important;
    margin-left: -30px;
    margin-right: 15px;
    /* text-shadow: -1px -1px 0px rgba(0,0,0,0.2), 1px 1px 0px rgba(255,255,255,0.8);  */
    opacity: 0.75;
    text-align: right;
}

.EXLResultsList em.EXLResultStatusAvailable {
    border-left: solid 6px #A8CA6D;
    background-image: none;
    padding-left: 10px;
    height: 35px !important;
    line-height: 15px;
}

.EXLResultsList em.EXLResultStatusNotAvailable {
    border-left: solid 6px #aaa;
    background-image: none;
    padding-left: 10px;
    height: 35px !important;
    line-height: 10px;
}

.EXLResultsList em.EXLResultStatusMaybeAvailable {
    border-left: solid 6px #FFB90F;
    background-image: none;
    padding-left: 10px;
    height: 35px !important;
    line-height: 10px;
  }


.EXLResultsListALTERNATIVE em.EXLResultStatusAvailable {
    background: #A8CA6D;
    margin: 2px;
    padding: 5px;
    background-image: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 35px !important;
    position: absolute;
}

#exlidSearchRibbon div.EXLSearchTabsContainer {
    line-height: 24px;
    height: 25px;
}

.EXLSearchFieldRibbonFormFields {
    width: 74%;
}

.EXLResultsContainer div.EXLResultsTile {
    border-left: 0;
}

.EXLFacetContainer h1 , .EXLFacetContainer h3 {
    background: none;
    border-top: 0;
}

ul#exlidSearchTabs {
    line-height: 24px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;

}

#exlidSearchTabs li {
    height: 24px;
    -webkit-box-flex: 1;
    white-space: nowrap;
    /*    overflow: hidden; */
    max-width: 200px;
    min-width: 50px;
    border-bottom: none;
    text-overflow: ellipsis;  
}

#exlidSearchTabs li:first-child {
    margin-left: 0;
    padding-bottom: 2px;
}

.tab-row {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    white-space: nowrap;
    overflow: visible !important;
}

#exlidSearchTile {
    background: none;
    border:0 !important;
    margin-bottom: 20px;
    margin-top: 95px;
    height: 86px; 
}



.EXLSearchFieldRibbonFormSubmitSearch {
    width: 7%;
}

#exlidSearchTileWrapper {
    margin-top: -7px;
    /* height: 50px; /* 03dec2014 */
}

#resultsTileNoId {
    clear:both;
    margin-top: -60px;
}

#permalinkPretty, #newMenu {
    clear:left;
}

#search_field {
    font-size: 2.0em;
    height: 2.0em;
    font-weight: normal;
    color: #444;
    z-index: 0;
    opacity: .99;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 0px 3px 3px #ccc;
}

input::-webkit-input-placeholder {
   color: #999;
   font-size: 1em;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #999;
   font-size: 1em;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
   font-size: 1em;
}

input:-ms-input-placeholder {  
   color: #999;
   font-size: 1em;
}

.EXLSliderRefine a:visited, a#dateSubmit {
    color: #FFF !important;
}


.EXLRefinementRibbonWithExclude {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.EXLResultAvailability {
    padding-left: 0;
    padding-top: 5px;
    font-weight: normal;
}

.EXLResultAvailability em {
    font-weight: normal;
}

.EXLTabsRibbon {
    padding: 0;
}

.EXLResultsList h2 {
    font-size: 1.25em;
    font-weight: normal;
    padding-top: 0;
}

#exlidFacetTile {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

#exlidFacetTile.basic {
    margin-top: -150px;
}

#resultsTileNoId.basic {
    margin-top: -60px;
}

.EXLResultMediaTYPEbook .multipleCoverImageContainer {
    border: 0;
    background-image: url('//library.wwu.edu/images/icon_7456-book.png') !important;
    /*
    background-image: none !important;
    content: "&#128213;";
    font-family: "entypo";
    */
}

.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
   /* margin-left: -34px; */
}

.EXLResultMediaTYPEarticle .multipleCoverImageContainer {
    background-image: url('//library.wwu.edu/images/icon_47347-article.png') !important;
}

.EXLResultMediaTYPEjournal .multipleCoverImageContainer {
    background-image: url('//library.wwu.edu/images/icon_20717.png') !important;
}

.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer {
    background-image: url('//library.wwu.edu/images/icon_47385-newspaper.png') !important;
}

.EXLResultMediaTYPEaudio .multipleCoverImageContainer {
    /* background-image: url('//library.wwu.edu/images/icon_32410-speaker.png') !important; */
    background-image: url('//library.wwu.edu/images/icon_14412-headphones.png') !important;
}

.EXLResultMediaTYPEvideo .multipleCoverImageContainer {
    background-image: url('//library.wwu.edu/images/icon_61344-movie.png') !important;
}


#exlidSearchRibbon input {
    height: 1.5em;
    padding-top: 0;
    padding-bottom: 3px;
    border: 0px;
}

#exlidSearchRibbon input.checkbox {
    width: inherit;
    padding: 0;
    height: inherit;
}

#exlidMainMenuRibbon {
    list-style-type: none;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#contentEXL {
    border: 0 !important;
}

#exlidMainMenuContainer {
   /* display: none; */
}

#exlidHeaderSystemFeedback {
    border: 0 !important;
}

#exlidHeaderTile {
    padding-top: 15px;
    clear:both;  /* display.do problem 03dec2014 */
    /* padding-bottom: 59px; /* 03dec2014 */
}

#exlidSearchRibbon fieldset {
    width: 100%;
}

#logo {
    padding-top: 6px;
}

#exlidSearchTabs li {
    box-shadow-bottom: none;
}

#exlidSearchTabs li.EXLSearchTabSelected {
    box-shadow: none;
    background-image: none;
    background: #fff;
    border-bottom: 0;
    border-top: 1px solid #bbb;
    height: 24px;
    font-weight: normal;
}

.WWU_link {
    height: 16px !important;
    width: 16px !important;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
    /* shift the Advanced Search link up to accomodate Search Tips */
    padding-top: 0.8em;
}

.EXLMainMenuITEMFindInDB {
    display:none;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#newMenu #leftX {
    width: 25%;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    border:0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-2;
}

#newMenu #rightX {
    background: #FFF;
    width: 78%;
    -moz-border-radius-topleft: 50px;
    border-top-left-radius: 50px;
    border:0px;
    float: right;
    position: absolute;
    top: 35px;
    right: 0;

}

#newMenu {
    /* WWU blue 003f87 */
    border-bottom: 1px solid #999;
    box-shadow: 2px 3px 3px #CCC;


    /* http://www.cssmatic.com */
    background: rgba(0,63,135,1);
    background: -moz-linear-gradient(-45deg, rgba(0,63,135,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,63,135,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,63,135,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,63,135,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,63,135,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(135deg, rgba(0,63,135,1) 0%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f87', endColorstr='#86aecc', GradientType=1 );

   /* see also http://www.clicktorelease.com/code/css3dclouds/ */
    /* background: #003f87; */
    /* background-image: url('//library.wwu.edu/images/onesearch-header-background.jpg'); */
    /* background-repeat: repeat-x;
    background-position: 0px 0px; */

    color: #FFF;
    clear:both;
    width:100%;
    height: 40px;
    padding: 5px;
    font-weight: normal;
    margin-top:0;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 25px;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    /*
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    */
}

#newMenu ul li {
    color: #FFF;
    font-size: 20px;
    padding: 15px;
    z-index: 9999;
}



li.divider {
    border-left: 1px solid #FFF;
    margin-top: 10px !important;
    height: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
}


#newMenu.small {
    font-size: 11px;
    padding-top: 10px;
    z-index: 100;
    height: 15px;
    /*
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    */
}

#logo.small {
    width: 100px;
    padding: 0;
    padding-left: 50px;
    /*
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    */
    margin-top: -6px
}

#help a.menuitem.small {
    font-size: 25px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#exlidUserAreaRibbon li {
    background: none;
}

#exlidUserAreaRibbon li span.EXLUserAreaStart {
    background: none;
}

#libchat_btn_widget_link {
    width: 35px;
}

 #exlidUserAreaRibbon li.EXLUserName {
    font-weight: normal;
    font-size: 0.85em;
}

#exlidSearchTabs li {
    padding-right: 20px !important;
    border-width: 1px;
}


#exlidSearchTabs li.EXLSearchTabSelected {
    border-color: #ccc;
}

#exlidUserAreaRibbon li span.EXLUserAreaStart {
    height: inherit;
    width: inherit;
}

.fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face {
    font-family: 'entypo';
    src: url('//library.wwu.edu/info/primo/entypo.eot');
    src: url('//library.wwu.edu/info/primo/entypo.eot?#iefix') format('embedded-opentype'),
    url('//library.wwu.edu/info/primo/entypo.woff') format('woff'),
    url('//library.wwu.edu/info/primo/entypo.ttf') format('truetype'),
    url('//library.wwu.edu/info/primo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* http://entypo.com/characters/ */


#help {
    float: right;
    position: absolute;
    right: 25px;
    top: -10px;
    font-size: 1.7em;
    color: #FFF;
}

a.submenuitem .icon {
    font-family: 'entypo', 'Open Sans', Oxygen, sans-serif !important;    
    font-size: 35px;
    padding: 7px;
    text-decoration: none;
}

#help a:hover {
    opacity: 1;
    text-decoration: none;
}

.icon {
    font-family: "entypo" !important;    
    text-decoration: none;
    line-height: 2px;
}

@keyframes move {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

/*
#help a:hover {
    -webkit-transition: move 0.4s linear, opacity 0.25s;
    -moz-transition: move 0.4s linear, opacity 0.25s;
    transition: move 0.4s linear, opacity 0.25s;
}
*/

#username {
    font-size: 1.4em; 
    color: #FFF;
    opacity: 0.7;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Shadows Into Light', cursive !important;
}

/*
#username:before {
    content: "Hello ";
}

#username:after {
    content: " :) ";
}
*/

#exlidUserAreaRibbon {
    display: none;
}

#exlidUserAreaTile {
    display: none;
}

#exlidMainMenuContainer {
    display: none;
}

.EXLSearchFieldRibbonBrowseSearchLink {
    display: none;
}

.EXLSearchFieldRibbonAdvancedSearchLink {
    display: none;
}

#didnt_find_div {
    text-align: center;
}

#didnt_find_link {
    font-size: 1.2em;
}

.EXLResultsList td {
    margin-bottom: 5px;
    border-bottom: 1px dotted #efefef !important;
}

/* http://www.cssanimate.com/ */

#help2 a:hover {
  animation: animationFrames linear 0.1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    -o-transform:  translate(0px,-5px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    -ms-transform:  translate(0px,-5px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}

/*
.EXLResultAvailability em {
    font-size: 85%;
}
*/


.EXLTabsRibbon div li.EXLResultTab a {
    color: #777;
}

.EXLResultTabs .tabrow {
    border: 0px !important;
}

.menuitem {
    position: relative;
    z-index: 3;
}

.menuitem:hover {
    opacity: 1.0;
}

.reverse {
    /*
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    unicode-bidi:bidi-override;
    direction:rtl;
    */

    display:inline-block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.tooltip {
    background: #FFF;
    opacity: 1;
    font-size: 240% !important; 
    display: none;
    background-image: url('//library.wwu.edu/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    top: 25px;
    line-height: 25px;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;

    left: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
 }



.tooltip-right {
    font-size: 240% !important; 
    opacity: 0.8;
    display: none;
    background: #FFF;
    background-image: url('//library.wwu.edu/images/tooltips/tooltip-right.png');
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    top: 25px;
    line-height: 25px;
    float:right;
    padding-top: 25px;
    padding-right: 45px;
    padding-left: 15px;
    padding-bottom: 15px;
    right: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
}




.menuitem:hover .tooltip, .menuitem:hover .tooltip-right { /* display tooltip on hover */
    display: block;
}

#help:hover > span.menuitem {
    /* blur all of the icons on hover */

    /*
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px);
    */

    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    transition: 0.5s -webkit-filter linear;
}

#help:hover > span.menuitem:hover {
    /* remove blur for the icon being hovered over */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px);

    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    transition: linear 0.1s;
    transition: 0.1s -webkit-filter linear;
}

.blur {
    /*
    filter: blur(2px);
    -webkit-filter: blur(2px);
    */
}

.noblur {
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
}


#exlidSearchTabs {
    z-index: 1;
}

#exlidSearchTabs li.tab a:hover .tabtip { /* display tooltip on hover */
    display: block;
    z-index: 9999;
}




#exlidSearchTabs:hover > li.EXLSearchTab.tab {
    /* blur all of the icons on hover */
    /*
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px);
    */
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    transition: 0.5s -webkit-filter linear;
}

#exlidSearchTabs:hover > li.EXLSearchTab.tab:hover {
    /* remove blur for the icon being hovered over */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px);

    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    transition: linear 0.1s;
    transition: 0.1s -webkit-filter linear;
}







.tabtip {
    background: white;
    opacity: .9;
    font-size: 200%; 
    display: none;
    background-image: url('//library.wwu.edu/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    line-height: 25px;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: 0px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 100px;
    min-height: 100px;
    max-width: 250px;
    max-height: 250px;
    word-wrap: break-word;
 }


 #filterList {
    font-size: 11px;
    display: none;
    position:absolute;
    top: 0px;
    max-height: 300px;
    max-width: 400px;
    background: white;
    overflow: scroll;
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    width: 300px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 1px solid #bbb;
    box-shadow: 2px 3px 3px #ccc;
    border-bottom: 0px solid #444444;
 }

#filterList .EXLFacetContainer ol li {
    font-size: 100%;
}

#filterList li.EXLFacetsDisplayMore {
    display: none;
}

#filterList .EXLDateRangeText {
    display: none;
}

#filterList li.EXLFacet {
    padding-left: 3px;
}

#addFilter {
    color: #999;
    font-size: 58px;
    float: right;
    top: -20px;
    position: relative;
    right: 10px;
}

#addFilter:hover > #filterList {
    display: block;
}

.filterButton {
    /* This css button was partially generated by css-button-generator.com */

    float:right;
    font-weight:normal;
    font-size: 11px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.filterButton:hover {
    background:-moz-linear-gradient( center top, #99b2cf 5%, #63b8ee 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#63b8ee');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #63b8ee) );
    background-color:#99b2cf;
}

.filterButton:active {
    position:relative;
    top:1px;
}

.filterButtonDiv {
    clear:both;
    margin-bottom: 10px;
}

#generate-permalink {
    font-weight:normal;
    text-decoration:none;
    display:inline-block;
    background: none;
    z-index: 999;
}


.EXLSearchFieldRibbonFormSearchClear {
    float: right;
    visibility: block;
    top: 8px;
    right: 5px;
    position: relative;
}


#exlidSearchBanner {
    /* this holds the chat with a librarian widget */
    display:none; 
}

.EXLMainMenuITEMHelp {
    display: none;
}

#chatDiv {
    background: #fff;
    position: fixed;
    top: 62px;
    right: 10px;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

#chatDivLinkContainer {
    clear: both;
    height: 50px;
    /* margin-top: -59px; */
}

#chatDiv #chatDivLinkContainer a {
    font-family: "entypo" !important;    
    text-decoration: none;
    font-size: 125px !important;
    color: #99b2cf;
    position: relative;
    top: -60px;
    z-index: 0 !important;
}


#chatDivText {
    font-size: 11px;
    z-index: 1;
}

#chatDiv:hover #chatDivLinkContainer a {
    clear: both;
    color: #ccd9e7;
}

.gotoPageInput {
    border: 1px dotted #999;
    width: 15px;
}

.gotoPageInputToolTip, .gotoPageInputToolTipLinks {
    width: 250px;
    font-size: 200% !important; 
    opacity: 1.0;
    display: none;
    background: #FFF;
    background-image: url('//library.wwu.edu/images/tooltips/tooltip-right.png');
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    line-height: 25px;
    float:right;
    padding-top: 25px;
    padding-right: 45px;
    padding-left: 15px;
    padding-bottom: 15px;
    right: 72px;
    border-radius: 5px;
    position: absolute;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
}


#exlidHeaderSystemFeedbackContent strong {
    /* did you mean? */
    background: none;
    right: 128px;
    top: 154px;
    position: absolute;
    font-weight: normal;
}

.EXLRemoveRefinement {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy {
    z-index: 0;
}

#newHorizonalMenu {
    z-index: 9999;
    padding: 15px; 
    margin: 15px; 
    margin-top: 15px;
    font-size: 1em;
    padding-right: 15px;
    list-style-type:none;
    color:#fff;
    float: left;
}

#newHorizonalMenu li { 
    z-index: 9999;
    color:#fff;
    float:left; 
    padding: 5px;
    margin: 5px;
}

#newHorizonalMenu li a {
    padding: 0px;
    display:block;
    color:#fff;
    text-decoration:none;
    font-size: 1em !important;
}

/* Submenu */
#newHorizonalMenu ul {
    background-color: #FFF;
    z-index: 9999;
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
    padding-bottom: 15px;
}

#newHorizonalMenu li:hover { 
    z-index: 9999;
    position:relative; 
}

#newHorizonalMenu li:hover ul {
    z-index: 9999;
    left:0px;
    top:-30px;
    background:blue;
    padding:0px;
}

#newHorizonalMenu li:hover ul li a {
    z-index: 9999;
    padding:5px;
    display:block;
    width:168px;
    background-color:#FFF;
}

#newHorizonalMenu li:hover ul li a:hover { 
    z-index: 9999;
    background:#EFEFEF; 
}


.spinner {
    display: none;
    position: absolute;
    top: 236px;
    right: 47px;
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF #DDD #BBB #999;
    border-radius: 40px;
    -webkit-animation: spin 1s linear infinite; 
    -moz-animation: spin 1s linear infinite;
}

.pageLoadDelay {
    display: none;
    position: absolute;
    top: 226px;
    right: 40px;
    width: 150px;
}


#myAccountMenuHeading a {
    color: #FFF !important;
}


body.EXLFullView div.EXLResultsContainer {
    margin-top:25px;
}

#exlidResultsTable tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}


#lookingFor {
    padding-bottom: 25px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #aaa;
    text-align: left;
    font-weight: normal;
    font-size: 1.1em;
}

#right:target #lookingFor {
    float: right;
}

#help {
    padding-right: 25px;
}



/* menu */
#kba_nav {
    margin-top: -42px !important;
}

#kba_nav a { 
    display: block;
    text-decoration: none;
    color: black;
}
#kba_nav a:hover, #kba_nav a:focus { 
    color: #668cb7 !important;
    outline: none;
    border-bottom: 1px dotted #efefef;
}

ul.menubar {
    list-style: none;
    font-size: 1em;
    min-width: 300px;
    float: right;
    border: red 0px solid;
}
ul.menubar > li {
    float: left;
    display: inline; 
    position: relative;
    margin: 0;
    width: auto;
}
ul.menu {
    position: absolute;
    left: 0;
    /* top: 1em; */
    display: none; 
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
    border: 1px solid black;
    background-color: #FFF;
    width: 175px;
}
ul.menu li {
    float: none;
    display: block;
    white-space: nowrap;
}
li.menu-hover, li.menu-focus {
    color: red;
    outline: none;
}
li.menu-hover > a, li.menu-focus > a { 
    color: #999 !important;
    outline: none;  
}

#newMenu ul li a, #newMenu ul li {
    font-size: 1em;
}

ul.submenu {
    font-size: 75%;
    margin-top: 8px !important;
    margin: 2px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    box-shadow: 2px 3px 3px #ccc;
}

ul.submenu li {
    margin: 2px !important;
    padding: 2px !important;
}

#kba_nav.small {
    margin-top: -34px !important;
    position: absolute;
    right: 0;
}

#kba_nav.small a { 
    font-size: 11px !important;
}

#helpSubMenu {
    left: -50px;
}

#myAccountSubMenu {
    left: -70px;
    width: 120px;
}

a#loginLinkMenu:hover {
    color: white !important;
}

.EXLMyAccountContainer {
    padding-top: 5px;
    clear: both;
}

.EXLMyAccountTabsRibbon {
    border: 0;
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader {
    padding-top: 0px;
}


#exlidSearchTile.EXLSearchEJorunals fieldset label {
    margin-left: -16em;
}

#exlidHeaderContainer {
    height: 250px;
}

#exlidResultsContainer.browse {
    /* margin-top: 300px; */
}

#exlidResultsContainer.browse #permalinkPretty {
    display: none;
}

.EXLSearchFieldRibbonFormSelectedCollection {
    height: 1.5em;
    padding-top: 0px;
    padding-left: 8px;
    padding-bottom: 14px;
    padding-right: 15px;
    margin-top: -20px;
    border-right: 0px none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    z-index: 0;
    opacity: 0.99;
    border-top: 0px none;
    border-left: 0px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
    box-shadow: 2px 3px 3px #CCC;
    min-width: 150px;
    text-overflow: ellipsis;
} 

.EXLSearchFieldRibbonFormSearchClear {
    right: 18px;
}

.EXLSearchFieldRibbonFormSearchClear.wwu {
    /* move the clear search box to the left of the collection selector when on the WWU tab */
    right: 221px;
}


#exlidHeaderContainer {
    height: auto;
}

.EXLSearchFieldRibbonFormCollectionsList {
    font-size: 1.5em;
    color: #444;
    z-index: 999;
    background: #FFF;
    padding: 5px;
    margin: 5px;
    opacity: .99;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;

    -webkit-border-radius-topright: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;


    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
}


.EXLFooterLinksContainer {
    position: fixed;
    bottom: 5px;
    min-height: auto;
    z-index: -1;
}

.EXLFooterUpdateContainer {
    display: none;
}

#exlidSearchRibbon.az {
    clear: none;
    padding-left: 25%;
    margin-top: -72px;
}


#dateSubmit {
    width: auto;
    height: auto;
    float:right;
    font-weight:normal;
    font-size: 11px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;

}

#goButton {

}

#advsearch_btn_simple-v0 {
    background: #99b2cf;
    color: #FFF;
    cursor: pointer;
    margin: 0px;
    border: 0px none !important;
    background-image: url("//library.wwu.edu/images/onesearch-v5-button-adv-search.png") !important;
    border-bottom-right-radius: 8px;
    background-repeat: no-repeat;
    top: -44px;
    position: relative;
    left: 91px;
    width: 36px !important;
    height: 44px !important;
    z-index: 0;
}

#advsearch_btn_simple-v1 {
    box-shadow: 0px 1px 0px 0px #FFF inset;
    background: linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%) repeat scroll 0% 0% #F9F9F9;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    color: #666;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFF;
    width: 25px;
    height: 44px;
    top: -44px;
    position: relative;
    left: 91px;
}

#advsearch_btn_simple-v2 {
    box-shadow: 2px 3px 3px #CCC;
    background: linear-gradient(to bottom, #F9F9F9 5%, #bbb 100%) repeat scroll 0% 0% #F9F9F9;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    color: #666;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ddd;
    width: 27px !important;
    height: 44px !important;
    top: -44px;
    position: relative;
    left: 99px;
    z-index: 0;
}

#advsearch_btn_simple-v3 {
    background: #99b2cf;
    box-shadow: 2px 3px 3px #CCC;
    background: linear-gradient(to bottom, #F9F9F9 5%, #bbb 100%) repeat scroll 0% 0% #F9F9F9;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    color: #666;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ddd;
    width: 27px !important;
    height: 44px !important;
    top: -44px;
    position: relative;
    left: 99px;
    z-index: 0;
}





#happy-sad {
    float: right;
    margin-right: 50%;
}

#happy-sad.small {
    padding-top: 0px;
}

#happy, #sad {
    margin-right: 15px;
    margin-top: 5px; 
}

#happy.small, #sad.small {
    width: 15px;
    margin-top: 0px; 
}

#more-feedback {
    width: 250px;
    height: 40px;
    display: none;
    float: right;
    font-size: 11px;
}

#more-feedback * {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon {
    padding-bottom: 32px;
    min-width: 800px
}

.EXLSearchFieldRibbonFormBrowseSearchFor {
    border: 0;
}

#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
    border: 0;
}

.datebox {
    font-size: 70%;
    width: 29px;
}

.showHideFilters {
    text-align: center;
    font-size: 85%;
}


/* Box Shadow Outset */
.box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box-shadow-outset:hover, .box-shadow-outset:focus, .box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}





#basic-text {
    display: none;
    background: white;
    opacity: .9;
    font-size: 200%; 
    background-image: url('//library.wwu.edu/images/tooltips/arrow-down-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    line-height: 25px;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: -150px;
    left: 15px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 50px;
    word-wrap: break-word;
}

#adv-text {
    display: none;
    background: white;
    opacity: .9;
    font-size: 200%; 
    background-image: url('//library.wwu.edu/images/tooltips/arrow-down-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    line-height: 25px;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: -150px;
    left: 60px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 50px;
    word-wrap: break-word;    
}

.EXLRecommendTabDisable {
    display: none !important;
}