<!--NB: When translating a static html page that includes images, the link of the image must be replaced as follows: The existing link: "../images/imageName.gif" must be changed into: "../locale/specifcLocaleCode/images/imageName.gif" where "specifcLocaleCode" represents the relevant locale of the language (e.g en_US for English USA, zh_CH for Chinese). -->
<!--
<script type="text/javascript">
  function getPCookie(name) {
    var clist = document.cookie;
    var prefix = name + "=";
    var begin = clist.indexOf("; " + prefix);
    if (begin == -1) {
        begin = clist.indexOf(prefix);
        if (begin != 0) return null;
    }
    else
    {
        begin += 2;
        var end = document.cookie.indexOf(";", begin);
        if (end == -1) {
        end = clist.length;
        }
    }
    return unescape(clist.substring(begin + prefix.length, end));
}

    // Check to see if user has seen Quick Search pop-up window in same session
   var isFirst = window.sessionStorage.getItem("FIRSTVISIT");
   var pCookie = getPCookie("primofirst");
   var urlp = document.referrer;
  //If user has not seen pop-window in same session store visit
  if((isFirst == null || isFirst == 'undefined') && pCookie == null && urlp.indexOf("alliance-primo-pds") == -1 && urlp.indexOf("onesearch.library.wwu.edu") == -1) {
      window.sessionStorage.setItem("FIRSTVISIT", "YES");
      document.cookie = "primofirst=true";
      window.location= "http://" + window.location.hostname + "/primo_library/libweb/action/login.do?loginFn=signin&vid=WWU&targetURL=" + document.URL;
          }
  </script>
-->

<!--link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"-->
<link type="text/css" rel="stylesheet" href="//library.wwu.edu/info/primo/tabs.css" />
<link type="text/css" rel="stylesheet" href="//library.wwu.edu/info/primo/tinyTabs.css" />
<link type="text/css" rel="stylesheet" href="//library.wwu.edu/info/primo/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="//library.wwu.edu/info/primo/wwu_test.css" />

<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
<script src="//library.wwu.edu/info/primo/menubar.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link type="text/css" rel="stylesheet" href="//library.wwu.edu/info/primo/spinner.css" />

<script>
(function() {
    var link = document.createElement('link');
    link.type = 'image/x-icon';
    link.rel = 'shortcut icon';
    link.href = '//library.wwu.edu/images/onesearch-favicon.ico';
    document.getElementsByTagName('head')[0].appendChild(link);
}());

</script>

<!-- thanks to http://terrillthompson.com/blog/474 -->


<div id='newMenu'>
  <div id='left'>
    <a href='http://library.wwu.edu/' title='Library home page'><img id='logo' src='//library.wwu.edu/images/onesearch.logo-v5.png' alt='Western Washington University'/></a>

  </div>
  <div id='right'>


    <div role='navigation' aria-label='Main menu' tabindex='-1'>
      <ul id='kba_nav' class='menubar root-level' role='menubar'>
        <li tabindex='0' class='menu-parent' role='menuitem' aria-haspopup='true' title='Search Menu'>
          Search Tools
          <ul class='submenu menu' role='menu' aria-hidden='true'>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' id='btn_new_search' title='new search' href='/primo_library/libweb/action/search.do?menuitem=0&fromTop=true&fromPreferences=false&fromEshelf=false&tab=everything'>
                <span class='icon'>&#128269;</span> start a new search</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' id='btn_adv_search' href='/primo_library/libweb/action/search.do?mode=Advanced&ct=AdvancedSearch&dscnt=0&tab=everything&fn=search' title='advanced search'>
                <span class='icon'>&#127919;</span> advanced search</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' href='http://onesearch.library.wwu.edu/primo_library/libweb/action/search.do?fn=showBrowse&mode=BrowseSearch&dscnt=1&institute=&fromLogin=true&initializeIndex=true' title='browse search'>
                <span class='icon'>&#59146;</span> browse search</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem' title='databases' href='http://library.wwu.edu/databases'>
                <span class='icon'>&#128248;</span> databases</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' title='A-Z Journals' href='/primo_library/libweb/action/dlSearch.do?&institution=WWU&azSearch=true&fn=almaAzSearch&query=facet_atoz%2Cexact%2CA'>
                <span class='icon'>&#128214;</span> A-Z Journals</a>
            </li>
          </ul>
        </li>

        <li tabindex='0' class='menu-parent' role='menuitem' aria-haspopup='true' title='Help Menu'>
          Help
          <ul class='submenu menu' role='menu' aria-hidden='true' id='helpSubMenu'>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem' title='search tips' href='http://library.wwu.edu/onesearch-tips'>
                <span class='icon'>&#8505;</span> OneSearch tips</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem' id='libchat_btn_widget' title='chat with a librarian'>
                <span class='icon'>&#59168;</span> chat with a librarian</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem' href='http://libguides.wwu.edu/' title='library guides'>
                <span class='icon'>&#59171;</span> library guides</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem' href='http://askus.library.wwu.edu/browse.php?tid=23567' title='faqs'>
                <span class='icon'>&#10067;</span> FAQs</a>
            </li>
          </ul>
        </li>

        <li tabindex='0' class='menu-parent' role='menuitem' aria-haspopup='true' title='Account Menu'>
          <span id='myAccountMenuHeading'></span>
          <ul class='submenu menu' role='menu' aria-hidden='true' id='myAccountSubMenu'>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' title='my account' href='/primo_library/libweb/action/myAccountMenu.do?'>
                <span class='icon'>&#128100;</span> My Account</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' href='/primo_library/libweb/action/basket.do?fn=display&fromUserArea=true&fromPreferences=false' title='eShelf'>
                <span class='icon'>&#9734;</span> eShelf</a>
            </li>
            <li role='menuitem' class='menu-item' tabindex='-1'>
              <a class='submenuitem exlibris' id='loginLink' title='' href=''>
                <span class='icon'>&#128273;</span>
                <span id='loginLink-tooltip'></span></a>
            </li>
          </ul>
        </li>
        <li id='username'></li>
      </ul>
    </div>
</div>
